@import "../../../../styles/colors.module.scss";
@import url("https://fonts.googleapis.com/css2?family=Chango&display=swap");

.headerDiv {
  background-color: $medium-green;
}
.headerContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 200px;
}
.headerDescription {
  font-family: Chango;
  font-size: 30px;
  -webkit-text-stroke: 1.5px;
  -webkit-text-stroke-color: $medium-pink;
}
.btnDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 7px;
}
.headerBtn {
  background-color: $dark-green;
  border: none;
  margin-left: 5px;
  &:hover {
    background-color: $medium-pink;
    border: none;
  }
}
.cartDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cartIcon {
  width: 35px;
}
.cartIconText {
  font-size: 21px;
  font-family: sans-serif;
  font-weight: bold;
  position: absolute;
  color: white;
}

.navDiv {
  background-color: $medium-pink;
}
.navContainer {
  display: flex;
  gap: 25px;
  justify-content: flex-start;
  align-items: center;
}
.navText {
  font-size: 17px;
  margin: 7px 0 7px 0;
  color: white;
  font-family: Changa;
  transition: 0.4s;
  &:hover {
    color: $dark-green;
    font-size: 20px;
  }
}

@media (max-width: 1399px) {
  .headerDescription {
    font-size: 23px;
  }
}
@media (max-width: 1199px) {
  .headerDescription {
    font-size: 22px;
  }
}
@media (max-width: 992px) {
  .headerContainer {
    justify-content: space-around;
  }
  .headerDescription {
    font-size: 20px;
  }
  .headerBtn {
    padding: 4px 10px;
  }
  .logo {
    width: 150px;
  }
}
@media (max-width: 767px) {
  .headerDescription {
    font-size: 18px;
    margin-bottom: 7px;
  }
  .navContainer {
    justify-content: center;
  }
}
@media (max-width: 499px) {
  .headerDescription {
    font-size: 17px;
    text-align: center;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: $medium-pink;
  }
  .logo {
    width: 110px;
  }
  .headerBtn {
    padding: 2px 5px;
    font-size: 11px;
  }
  .navContainer {
    gap: 20px;
  }
  .navText {
    font-size: 14px;
    &:hover {
      font-size: 15px;
    }
  }
  .cartIcon {
    width: 28px;
  }
  .cartIconText {
    font-size: 16px;
  }
}
