@import "../styles/colors.module.scss";

.main {
  display: flex;
  flex-direction: column;
}
.contentContainer {
  flex: 1 0 auto;
}
.title {
  font-size: 35px;
  font-family: Changa;
  color: $medium-pink;
  text-align: center;
  margin-top: 10px;
}
.btnSwitch {
  display: block;
  width: 200px;
  background-color: $dark-green;
  border: none;
  margin: 20px auto;
  &:hover {
    background-color: white;
    color: black;
  }
}
.btnSelected {
  display: block;
  width: 200px;
  margin: 20px auto;
  background-color: white;
  color: black;
  &:hover {
    background-color: white;
    color: black;
  }
}

@media (max-width: 499px) {
  .title {
    font-size: 25px;
  }
  .btnSwitch {
    width: 150px;
    font-size: 15px;
    margin: 10px auto;
  }
  .btnSelected {
    width: 150px;
    font-size: 15px;
    margin: 10px auto;
  }
}
